@model IEnumerable<Linkofy.Models.Status>

@{
    ViewBag.Title = "Index";
}
    @section Styles {
    <link href="@Url.Content("~/Styles/Index.css")" rel="stylesheet" type="text/css" />
}
<h1>Links in Build</h1>

<p class="options"> @Html.ActionLink("Create New", "Create")</p>
           <div class="row">
            <div class="col-md-12">
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Client.clientN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Identifier.domain)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserTable.userIdentity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Last)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.Where(p=>p.UserTable.ID == ViewBag.UserTableID)) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Client.clientN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Identifier.domain)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserTable.userIdentity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Last)
        </td>
        <td>
            @Html.ActionLink(" ", "Details", new { id=item.StatusID }, new {@class= "glyphicon glyphicon-ok" })
            @Html.ActionLink(" ", "Edit", new { id=item.StatusID }, new {@class= "glyphicon glyphicon-edit" }) 
            @Html.ActionLink(" ", "Delete", new { id=item.StatusID }, new {@class= "glyphicon glyphicon-trash" })
        </td>
    </tr>
}

</table>
                </div>
               </div>
