@model Linkofy.Models.Link

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Link</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Client.clientN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client.clientN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Identifier.domain)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Identifier.domain)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserTable.userIdentity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserTable.userIdentity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Obdomain)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Obdomain)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Obpage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Obpage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Anchor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Anchor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BuildDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BuildDate)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
