@model IEnumerable<Linkofy.Models.Identifier>

@{
    ViewBag.Title = "Index";
}
    @section Styles {
    <link href="@Url.Content("~/Styles/Index.css")" rel="stylesheet" type="text/css" />
}

<h1>Domain List</h1>

<p class="options"> @Html.ActionLink("Add New", "Create")   |   @Html.ActionLink("Add Bulk", "CreateBulk") </p>

       <div class="row">
            <div class="col-md-12">
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.domain)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.contact)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.contactname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.type)
        </th>
                <th>
            @Html.DisplayNameFor(model => model.TrustFlow)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CitationFlow)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RI)
        </th>
                <th>
            @Html.DisplayNameFor(model => model.MJTopics.topicalTF)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.Where(p=>p.UserTable.ID == ViewBag.UserTableID)) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.domain)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.contact)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.contactname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.type)
        </td>
                <td>
            @Html.DisplayFor(modelItem => item.TrustFlow)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CitationFlow)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RI)
        </td>
                <td>
            @Html.DisplayFor(modelItem => item.MJTopics.topicalTF)
        </td>
        <td>
            @Html.ActionLink(" ", "Details", new { id=item.ID }, new {@class= "glyphicon glyphicon-home" })
            @Html.ActionLink(" ", "Edit", new { id=item.ID }, new {@class= "glyphicon glyphicon-edit" }) 
            @Html.ActionLink(" ", "Delete", new { id=item.ID }, new {@class= "glyphicon glyphicon-trash" })
        </td>
    </tr>
}

</table>
                                </div>
        </div>
